*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

html{
    font-size: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

body{
    background-color: #000;
    @include darkModeTransition;
}

.App{
    position: relative;
    max-width:1375px;
    margin: 0 auto;
    margin-bottom: 42px;
    padding-left: 50px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background:#ccc;
}
::-webkit-scrollbar-thumb{
    background: #222;
    border-radius: 7.5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #000;
}