.detailsCountry{
    opacity: 0;
    @include opacityTransition;
    overflow-x: hidden;
    &--active{
        opacity: 1;
    }
    &__span{
        @include span;
    }
    &__form{
        margin:20px 0px;
    }
    &__input{
    @include input;
    @include darkModeTransition;
    &--darkMode{
        background-color: #151515;
        border:1px solid #444;
        color:#fff;
    }
    }
}

.eachCountry{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:90%;
    max-width: 1024px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 4px 1px #000;
    &:nth-child(even){
      text-align: end;
      }
    @include mq(medium){
        &:nth-child(even){
            text-align: center;
        } 
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    }
    @include darkModeTransition;
    &--darkMode{
        background-color: #181818;
        box-shadow: 0px 0px 4px 1px #555;
    }
    &__country{
        font-size: #000;
        font-size: 2rem;
        letter-spacing: 0.5px;
        font-family: 'Krona One', sans-serif;
        @include mq(medium){
        font-size: 3.5rem;
        flex-basis:100%;
        letter-spacing: 2px;
        }
        @include darkModeTransition;
        &--darkMode{
            color:#fff;
        }
    }
    &__text{
        font-size: 1.4rem;
        margin: 5px 0px;
        color:#000;
        @include mq(medium){
        font-size: 2rem;
        }
        @include darkModeTransition;
        &--darkMode{
            color:#fff;
        }
    }
    &__textSpan{
        color:#333;
        @include darkModeTransition;
        &--darkMode{
            color:#ddd;
        }
        @include mq(medium){
            display: block;
        }
    }
    &__flag{
        width:45px;
        margin: 10px 0px;
    }
    &__header{
        width:100%;
    }
}

.eachCountry>h3:nth-child(3){
    color:#a33;
}
.eachCountry>h3:nth-child(4){
    color:#383;
}

.eachCountry>h3:nth-child(5){
    font-size: 20px;
    @include mq (medium){
        font-size: 1.5rem;
        align-self: center;
        letter-spacing: 1px;
        font-family: 'Krona One', sans-serif;
    }
    @include mq(large){
        font-size: 2.3rem;
    }
}