.footer{
    position: fixed;
    bottom:0;
    left:0;
    width:100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
    transition: 0.3s linear;
    &__logo{
        width:30px;
        margin: 5px;
    }
    &__name{
        margin-top: 5px;
        align-self: center;
        font-size: 1rem;
        letter-spacing: 0.5px;
    }
}