@mixin input {
    display: block;
    width:80%;
    max-width:500px;
    padding:2.5px;
    margin:0 auto;
    font-size: 1.5rem;
    outline: none;
    border:1px solid black;
    &:focus{
        border:1px solid #0a0;
    }
    @include mq(large){
        font-size: 2rem;
        padding: 5px;
    }
}

@mixin span {
    display: block;
    margin-top:10px;
}

@mixin darkModeTransition {
  transition: 0.3s linear;
}

$breakpoints: (
xsmall: (min-width: 460px),
small: (min-width: 640px),
medium: (min-width: 800px),
large: (min-width: 1024px),
xlarge: (min-width: 1200px),
xxlarge: (min-width: 1440px),
);

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint );
  @if($size){
    @media #{$size}{
    @content
    }
  }
} 