.poland, .chart{
position: relative;
min-height: 100vh;
}

.temporary{
    transform: translateY(200px);
}

.poland{
    opacity: 0;
    transition: 0.5s linear;
    &--active{
        opacity: 1;
    }
}