.poland, .chart{
position: relative;
min-height: 100vh;
}

.temporary{
    transform: translateY(200px);
}

.poland{
    opacity: 0;
    @include opacityTransition;
    &--active{
        opacity: 1;
    }
    &__span{
        @include span;
    }
}

.polandWrap{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.statisticWrap{
    @include mq(large){
        display: flex;
        flex-wrap: wrap;
    }
}

.canvasWrap{
    margin:0 auto;
    .container{
        margin:50px auto;
    }
}


.province{
    @include blockElement;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 25px auto;
    border-radius: 5px;
    text-align: center;
    @include darkModeTransition;
    &--darkMode{
        background-color: #181818;
        box-shadow: 0px 0px 4px 1px #555;
    }
    @include mq(large){
        width:45%;
    }
    &__name{
        width:100%;
        height: 35px;
        line-height: 35px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-color: #111;
        color:#eee;
        font-family: 'Krona One', sans-serif;
        font-size: 1.2rem;
        @include darkModeTransition; 
        &--darkMode{
            background-color: #000;
        }
        @include mq(medium){
            font-size: 1.5rem;
        }
    }
    &__confirmed{
        padding:2.5px 0px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.1rem;
        color:#555;
        font-family: 'Krona One', sans-serif;
        @include mq(medium){
            font-size: 1.4rem;
        }
    }
    &__deaths{
        padding:2.5px 0px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.1rem;
        color:#a00;
        font-family: 'Krona One', sans-serif;
        @include mq(medium){
            font-size: 1.4rem;
        }
    }
    &__span{
        display: block;
        margin-top: 7.5px;
        font-size: 1.5rem;
        color:#000;
        @include darkModeTransition;
        &--darkMode{
            color:#eee;
        }
        @include mq(medium){
            font-size: 2rem;
        }
    }
    &__span:nth-child(2){
        font-size: 1.2rem;
        @include mq(medium){
            font-size: 1.7rem;
        }
    }
}


.canvasPoland{
        width:240px !important;
        height: 400px !important;
        @include mq(xxsmall){
            width:300px !important;
        }
        @include mq(xsmall){
            width:360px !important;
        }
        @include mq(small){
            width:540px !important;
        }  
        @include mq(medium){
            width:680px !important;
            height: 425px !important;
        }
        @include mq(large){
            width:900px !important;
            height: 450px !important;
        }
        @include mq(xlarge){
            width:1100px !important;
        }
        @include mq(xxlarge){
            width:1200px !important;
        }  
}

.globalPoland{
    display: flex;
    flex-direction: column;
   &__section{
    @include blockElement;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px auto;
    text-align: center;
    @include darkModeTransition;
    &--darkMode{
        background-color: #181818;
        box-shadow: 0px 0px 4px 1px #555;
        color:#eee;
    }
    @include mq (large){
        flex-direction: row;
    }
   }
   &__wrap{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    @include mq(large){
        width:50%;
    }
}
    &__text{
        letter-spacing: 1px;
        font-family: 'Krona One', sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        @include mq(medium){
            font-size: 2.5rem;
        }
    }
    &__span{
     display: block;
     text-align: center;   
     font-family:'Krona One', sans-serif;
     font-size: 3rem;
     font-weight: 600;
     margin-top: 12.5px;
     @include mq(medium){
         font-size: 5rem;
     }
    }
   }

   .globalPoland{
       &__spanDeaths{
           color:#a33;
       }
       &__spanRecovered{
           color:#383;
       }
       &__spanNewCases{
           color:rgb(231, 94, 44);
       }
       &__spanNewDeaths{
           color:#a33;
       }
       &__spanMortality{
           color:#f11;
       }
       &__spanActive{
           color:rgb(201, 64, 14);
       }
       &__spanCritical{
           color:#833;
       }
       &__spanTest{
           color:rgba(41, 70, 216, 0.816)
       }
   }

   .polandMapWrap{
       display: flex;
       flex-direction: column;
       margin:50px auto;
       @include mq(large){
           flex-direction: row;
       }
   }

   .polandMap{
       position: relative;
       width:250px;
       margin:0 auto;
       @include mq(medium){
           width:600px;
       }
       @include mq(xlarge){
        width:1000px;
       }
       &__img{
        position: relative;
        display: block;
        width:250px;
        max-width: 800px;
        margin:0 auto;
        z-index: 0;
        @include mq(medium){
            width:600px;
        }
        @include mq(xlarge){
            width:1000px;
        }
    }
   }

   .dot{
    position: absolute;
    width:12px;
    height: 12px;
    background-color: #000;
    border:3px solid white;
    border-radius: 50%;
    z-index: 1;
    box-sizing: content-box;
    cursor: pointer;
    transition: 0.2s linear;
    &:hover{
        border:3px solid #fff;
        box-shadow: 0px 0px 3px 3px #f33;
        width:14px;
        height:14px;
    }
    @include mq(medium){
        width:30px;
        height: 30px;
        &:hover{
            border:3px solid #fff;
            box-shadow: 0px 0px 4px 5px #f33;
            width:35px;
            height: 35px;
        }
    }
}

.currentProvince{
   @include blockElement; 
   box-shadow: none;
   margin:30px auto;
   text-align: center;
   background-color: #fff;
   width:250px;
   @include darkModeTransition;
   &--darkMode{
    background-color: #000;
    color:#eee;
 }
   &__data{
    font-family: 'Krona One', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    height: 85px;
    @include mq(large){
        font-size: 2rem;
        height: 120px;
    }
   }
   &__span{
       position: relative;
       top:20px;
       display: block;
       margin-bottom: 25px;;
       margin-top: 5px;
       font-size: 2rem;
       font-family: 'Krona One', sans-serif;
       word-break: break-all;
       opacity:0;
       transition: 0.2s;
       &--show{
           opacity: 1;
           top:0;
       }
       @include mq(large){
           font-size: 3.25rem;
       }
   }
   @include mq(large){
    width: 350px;
 }
}

.mapSpanName{
    color:#666;
}

.mapSpanCases{
    color:rgb(201, 64, 14);
}

.mapSpanDeaths{
    color:#a33;
}

.mazowieckie{
top:40%;
right:25%;
@include mq(xlarge){
    right:32%;
}
}

.wielkopolskie{
top:40%;
left:25%;
@include mq(xlarge){
    left:30%;
}
}

.lubuskie{
top:40%;
left:7%;
@include mq(xlarge){
    left:17.5%;
}  
}

.zachPomorskie{
top:17%;
left:10%;
@include mq(xlarge){
    left:20%;
}
}

.pomorskie{
top:8%;
left:35%;
@include mq(xlarge){
    left:40%;
}
}

.kujPomorskie{
top:28%;
left:40%;
@include mq(xlarge){
    left:43%;
}
}

.mazurskie{
top:15%;
left:60%;
}

.podlaskie{
top:25%;
left:80%;
@include mq(xlarge){
    left:75%;
}
}

.lubelskie{
top:60%;
left:82%;
@include mq(xlarge){
    left:77%;
}
}

.podkarpackie{
top:80%;
left:75%;
}

.swietokrzyskie{
top:67%;
left:62%;
}

.lodzkie{
top:50%;
left:47%;
@include mq(xlarge){
    left:50%;
}
}

.slaskie{
top:70%;
left:45%;
@include mq(xlarge){
    left:47%;
}
}

.dolnoslaskie{
top:60%;
left:20%;
@include mq(xlarge){
    left:25%;
}
}

.opolskie{
top:68%;
left:32%;
@include mq(xlarge){
    left:37%;
}
}

.malopolskie{
top:82%;
left:55%;
}

