.poland, .chart{
position: relative;
min-height: 100vh;
}

.temporary{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.poland{
    opacity: 0;
    transition: 0.5s linear;
    &--active{
        opacity: 1;
    }
}