* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.App {
  position: relative;
  max-width: 1375px;
  margin: 0 auto;
  margin-bottom: 42px;
  padding-left: 60px;
}

.cover {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../IMG/virus192.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  -webkit-transition: opacity 0.8s, z-index 0.5s 1s linear;
  transition: opacity 0.8s, z-index 0.5s 1s linear;
}

.cover--hide {
  opacity: 0;
  z-index: -999;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 7.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.global {
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.global--active {
  opacity: 1;
}

.global__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75vh;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.global__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 4px 1px #000;
          box-shadow: 0px 0px 4px 1px #000;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@media (min-width: 1024px) {
  .global__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 95%;
  }
}

.global__section--darkMode {
  background-color: #181818;
  -webkit-box-shadow: 0px 0px 4px 1px #555;
          box-shadow: 0px 0px 4px 1px #555;
}

.global__title {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  margin-top: 10px;
  text-align: center;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.global__title--darkMode {
  color: #fff;
}

@media (min-width: 1024px) {
  .global__title {
    font-size: 2rem;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .global__title {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
}

.global__result {
  margin-top: 10px;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #222;
  text-align: center;
  font-family: "Krona One", sans-serif;
}

@media (min-width: 460px) {
  .global__result {
    font-size: 3.3rem;
  }
}

@media (min-width: 1200px) {
  .global__result {
    margin-top: 15px;
    font-size: 4.3rem;
  }
}

.global span {
  display: block;
  margin-top: 10px;
}

.global__span {
  font-size: 2rem;
  color: #000;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@media (min-width: 460px) {
  .global__span {
    font-size: 2.3rem;
  }
}

@media (min-width: 1024px) {
  .global__span {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .global__span {
    font-size: 3rem;
  }
}

.global__span--darkMode {
  color: #fff;
}

.global__statsRow {
  margin: 20px 0px;
}

.global__footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 5px;
  text-align: center;
  color: #333;
  font-size: 1rem;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@media (min-width: 640px) {
  .global__footer {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}

@media (min-width: 1024px) {
  .global__footer {
    font-size: 1.4rem;
  }
}

.global__footer--darkMode {
  color: #eee;
  background-color: #000;
}

.global__confirmed {
  color: #777;
}

.global__deaths {
  color: #a33;
}

.global__recovered {
  color: #383;
}

.global__tests {
  color: rgba(41, 70, 216, 0.816);
}

.activeGlobal {
  color: #8a8a8a;
}

.critical {
  color: #d33;
}

.todayCases {
  color: #e75e2c;
}

.todayDeaths {
  color: #d33;
}

.tableWrap {
  overflow: scroll;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.tableWrap--active {
  opacity: 1;
}

@media (min-width: 1024px) {
  .tableWrap {
    overflow: initial;
    height: initial;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.table--darkMode {
  background-color: #181818;
}

.table__span {
  display: block;
  margin-top: 10px;
}

.table__input {
  display: block;
  width: 80%;
  max-width: 400px;
  padding: 2.5px;
  margin: 0 auto;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid black;
  margin-bottom: 15px;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.table__input:focus {
  border: 1px solid #0a0;
  max-width: 500px;
}

@media (min-width: 1024px) {
  .table__input {
    font-size: 2rem;
    padding: 5px;
  }
}

.table__input--darkMode {
  background-color: #181818;
  border: 1px solid #444;
  color: #fff;
}

.thead {
  color: #fff;
  background-color: #111;
}

.thead__tr {
  font-size: 0;
  cursor: pointer;
}

.thead__th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #000;
  border: 1px solid grey;
  font-size: 1.3rem;
  font-family: 'Lexend Peta', sans-serif;
  height: 85px;
}

@media (min-width: 1024px) {
  .thead__th {
    font-size: 1.3rem;
  }
}

.tbody__tr {
  color: #000;
  border: 1px solid #555;
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.tbody__tr--activeMode {
  background-color: #bbb !important;
  color: #000 !important;
}

.tbody__tr--darkMode {
  color: #ddd;
}

@media (min-width: 1024px) {
  .tbody__tr:hover {
    background-color: #bbb;
    color: black;
  }
}

.wolrdTr th {
  background-color: #bbb;
  height: 8vh;
  padding: 20px;
}

.wolrdTr th:nth-child(3) {
  background-color: #e75e2c;
}

.wolrdTr th:nth-child(5) {
  background-color: #e72e2e;
  color: white;
}

th {
  padding: 10px 5px;
  font-size: 1.6rem;
  border: 1px solid grey;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  min-width: 105px;
  max-width: 105px;
}

@media (min-width: 1024px) {
  th {
    font-size: 1.8rem;
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 25px 5px;
  letter-spacing: 1px;
  font-family: 'Krona One', sans-serif;
  margin-top: 20px;
  font-size: 2.2rem;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.title--darkMode {
  color: white;
}

@media (min-width: 1024px) {
  .title {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 4rem;
  }
}

.thead__thCountry {
  min-width: 150px;
  max-width: 150px;
}

.deathRate {
  color: #c33;
}

.fas {
  display: block;
  margin: 5px  0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 1024px) {
  .thead__th:hover > .fas {
    color: #c33;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px 1px #000;
          box-shadow: 0px 0px 4px 1px #000;
  z-index: 998;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.nav--darkMode {
  background-color: #181818;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  list-style: none;
  margin: 0 auto;
}

.nav__li {
  margin: 0 auto;
}

.nav__img {
  width: 100%;
}

.nav .navLink {
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  border: 1px solid #222;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 1024px) {
  .nav .navLink:hover {
    border: 1px solid #fff;
  }
}

.nav .navLink--darkMode {
  background-color: #fff;
}

.moon {
  width: 40px;
  height: 40px;
  padding: 3px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: #fff;
}

@media (min-width: 1024px) {
  .moon:hover {
    -webkit-box-shadow: 0px 0px 2px 75px rgba(0, 0, 0, 0.55);
            box-shadow: 0px 0px 2px 75px rgba(0, 0, 0, 0.55);
  }
}

@media (min-width: 1024px) {
  .moon--darkMode:hover {
    -webkit-box-shadow: 0px 0px 2px 75px rgba(200, 200, 200, 0.35);
            box-shadow: 0px 0px 2px 75px rgba(200, 200, 200, 0.35);
  }
}

.myLogo {
  width: 55px;
}

.active {
  background-color: #94ADD6 !important;
}

.detailsCountry {
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  overflow-x: hidden;
}

.detailsCountry--active {
  opacity: 1;
}

.detailsCountry__span {
  display: block;
  margin-top: 10px;
}

.detailsCountry__form {
  margin: 20px 0px;
}

.detailsCountry__input {
  display: block;
  width: 80%;
  max-width: 400px;
  padding: 2.5px;
  margin: 0 auto;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid black;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.detailsCountry__input:focus {
  border: 1px solid #0a0;
  max-width: 500px;
}

@media (min-width: 1024px) {
  .detailsCountry__input {
    font-size: 2rem;
    padding: 5px;
  }
}

.detailsCountry__input--darkMode {
  background-color: #151515;
  border: 1px solid #444;
  color: #fff;
}

.eachCountry {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  max-width: 1024px;
  height: 200px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 4px 1px #000;
          box-shadow: 0px 0px 4px 1px #000;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.eachCountry:nth-child(even) {
  text-align: end;
}

@media (min-width: 800px) {
  .eachCountry {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .eachCountry:nth-child(even) {
    text-align: center;
  }
}

.eachCountry--darkMode {
  background-color: #181818;
  -webkit-box-shadow: 0px 0px 4px 1px #555;
          box-shadow: 0px 0px 4px 1px #555;
}

.eachCountry__country {
  font-size: #000;
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-family: 'Krona One', sans-serif;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@media (min-width: 800px) {
  .eachCountry__country {
    font-size: 3.5rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    letter-spacing: 2px;
  }
}

.eachCountry__country--darkMode {
  color: #fff;
}

.eachCountry__text {
  font-size: 1.4rem;
  margin: 5px 0px;
  color: #000;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@media (min-width: 800px) {
  .eachCountry__text {
    font-size: 2rem;
  }
}

.eachCountry__text--darkMode {
  color: #fff;
}

.eachCountry__textSpan {
  color: #333;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.eachCountry__textSpan--darkMode {
  color: #ddd;
}

@media (min-width: 800px) {
  .eachCountry__textSpan {
    display: block;
  }
}

.eachCountry__flag {
  width: 45px;
  margin: 10px 0px;
}

.eachCountry__header {
  width: 100%;
}

.eachCountry > h3:nth-child(3) {
  color: #a33;
}

.eachCountry > h3:nth-child(4) {
  color: #383;
}

.eachCountry > h3:nth-child(5) {
  font-size: 20px;
}

@media (min-width: 800px) {
  .eachCountry > h3:nth-child(5) {
    font-size: 1.5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    letter-spacing: 1px;
    font-family: 'Krona One', sans-serif;
  }
}

@media (min-width: 1024px) {
  .eachCountry > h3:nth-child(5) {
    font-size: 2.3rem;
  }
}

.poland, .chart {
  position: relative;
  min-height: 100vh;
}

.temporary {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.poland {
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.poland--active {
  opacity: 1;
}

.poland__span {
  display: block;
  margin-top: 10px;
}

.polandWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .statisticWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.canvasWrap {
  margin: 0 auto;
}

.canvasWrap .container {
  margin: 50px auto;
}

.province {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 4px 1px #000;
          box-shadow: 0px 0px 4px 1px #000;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  margin: 25px auto;
  border-radius: 5px;
  text-align: center;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.province--darkMode {
  background-color: #181818;
  -webkit-box-shadow: 0px 0px 4px 1px #555;
          box-shadow: 0px 0px 4px 1px #555;
}

@media (min-width: 1024px) {
  .province {
    width: 45%;
  }
}

.province__name {
  width: 100%;
  height: 35px;
  line-height: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #111;
  color: #eee;
  font-family: 'Krona One', sans-serif;
  font-size: 1.2rem;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.province__name--darkMode {
  background-color: #000;
}

@media (min-width: 800px) {
  .province__name {
    font-size: 1.5rem;
  }
}

.province__confirmed {
  padding: 2.5px 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #555;
  font-family: 'Krona One', sans-serif;
}

@media (min-width: 800px) {
  .province__confirmed {
    font-size: 1.4rem;
  }
}

.province__deaths {
  padding: 2.5px 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #a00;
  font-family: 'Krona One', sans-serif;
}

@media (min-width: 800px) {
  .province__deaths {
    font-size: 1.4rem;
  }
}

.province__span {
  display: block;
  margin-top: 7.5px;
  font-size: 1.5rem;
  color: #000;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.province__span--darkMode {
  color: #eee;
}

@media (min-width: 800px) {
  .province__span {
    font-size: 2rem;
  }
}

.province__span:nth-child(2) {
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .province__span:nth-child(2) {
    font-size: 1.7rem;
  }
}

.canvasPoland {
  width: 240px !important;
  height: 400px !important;
}

@media (min-width: 380px) {
  .canvasPoland {
    width: 300px !important;
  }
}

@media (min-width: 460px) {
  .canvasPoland {
    width: 360px !important;
  }
}

@media (min-width: 640px) {
  .canvasPoland {
    width: 540px !important;
  }
}

@media (min-width: 800px) {
  .canvasPoland {
    width: 680px !important;
    height: 425px !important;
  }
}

@media (min-width: 1024px) {
  .canvasPoland {
    width: 900px !important;
    height: 450px !important;
  }
}

@media (min-width: 1200px) {
  .canvasPoland {
    width: 1100px !important;
  }
}

@media (min-width: 1440px) {
  .canvasPoland {
    width: 1200px !important;
  }
}

.globalPoland {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.globalPoland__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 4px 1px #000;
          box-shadow: 0px 0px 4px 1px #000;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px auto;
  text-align: center;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.globalPoland__section--darkMode {
  background-color: #181818;
  -webkit-box-shadow: 0px 0px 4px 1px #555;
          box-shadow: 0px 0px 4px 1px #555;
  color: #eee;
}

@media (min-width: 1024px) {
  .globalPoland__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.globalPoland__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
}

@media (min-width: 1024px) {
  .globalPoland__wrap {
    width: 50%;
  }
}

.globalPoland__text {
  letter-spacing: 1px;
  font-family: 'Krona One', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

@media (min-width: 800px) {
  .globalPoland__text {
    font-size: 2.5rem;
  }
}

.globalPoland__span {
  display: block;
  text-align: center;
  font-family: 'Krona One', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 12.5px;
}

@media (min-width: 800px) {
  .globalPoland__span {
    font-size: 5rem;
  }
}

.globalPoland__spanDeaths {
  color: #a33;
}

.globalPoland__spanRecovered {
  color: #383;
}

.globalPoland__spanNewCases {
  color: #e75e2c;
}

.globalPoland__spanNewDeaths {
  color: #a33;
}

.globalPoland__spanMortality {
  color: #f11;
}

.globalPoland__spanActive {
  color: #c9400e;
}

.globalPoland__spanCritical {
  color: #833;
}

.globalPoland__spanTest {
  color: rgba(41, 70, 216, 0.816);
}

.polandMapWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
}

@media (min-width: 1024px) {
  .polandMapWrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.polandMap {
  position: relative;
  width: 250px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .polandMap {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .polandMap {
    width: 1000px;
  }
}

.polandMap__img {
  position: relative;
  display: block;
  width: 250px;
  max-width: 800px;
  margin: 0 auto;
  z-index: 0;
}

@media (min-width: 800px) {
  .polandMap__img {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .polandMap__img {
    width: 1000px;
  }
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 1;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.dot:hover {
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 3px 3px #f33;
          box-shadow: 0px 0px 3px 3px #f33;
  width: 14px;
  height: 14px;
}

@media (min-width: 800px) {
  .dot {
    width: 30px;
    height: 30px;
  }
  .dot:hover {
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 0px 4px 5px #f33;
            box-shadow: 0px 0px 4px 5px #f33;
    width: 35px;
    height: 35px;
  }
}

.currentProvince {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 4px 1px #000;
          box-shadow: 0px 0px 4px 1px #000;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 30px auto;
  text-align: center;
  background-color: #fff;
  width: 250px;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.currentProvince--darkMode {
  background-color: #000;
  color: #eee;
}

.currentProvince__data {
  font-family: 'Krona One', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  height: 85px;
}

@media (min-width: 1024px) {
  .currentProvince__data {
    font-size: 2rem;
    height: 120px;
  }
}

.currentProvince__span {
  position: relative;
  top: 20px;
  display: block;
  margin-bottom: 25px;
  margin-top: 5px;
  font-size: 2rem;
  font-family: 'Krona One', sans-serif;
  word-break: break-all;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.currentProvince__span--show {
  opacity: 1;
  top: 0;
}

@media (min-width: 1024px) {
  .currentProvince__span {
    font-size: 3.25rem;
  }
}

@media (min-width: 1024px) {
  .currentProvince {
    width: 350px;
  }
}

.mapSpanName {
  color: #666;
}

.mapSpanCases {
  color: #c9400e;
}

.mapSpanDeaths {
  color: #a33;
}

.mazowieckie {
  top: 40%;
  right: 25%;
}

@media (min-width: 1200px) {
  .mazowieckie {
    right: 32%;
  }
}

.wielkopolskie {
  top: 40%;
  left: 25%;
}

@media (min-width: 1200px) {
  .wielkopolskie {
    left: 30%;
  }
}

.lubuskie {
  top: 40%;
  left: 7%;
}

@media (min-width: 1200px) {
  .lubuskie {
    left: 17.5%;
  }
}

.zachPomorskie {
  top: 17%;
  left: 10%;
}

@media (min-width: 1200px) {
  .zachPomorskie {
    left: 20%;
  }
}

.pomorskie {
  top: 8%;
  left: 35%;
}

@media (min-width: 1200px) {
  .pomorskie {
    left: 40%;
  }
}

.kujPomorskie {
  top: 28%;
  left: 40%;
}

@media (min-width: 1200px) {
  .kujPomorskie {
    left: 43%;
  }
}

.mazurskie {
  top: 15%;
  left: 60%;
}

.podlaskie {
  top: 25%;
  left: 80%;
}

@media (min-width: 1200px) {
  .podlaskie {
    left: 75%;
  }
}

.lubelskie {
  top: 60%;
  left: 82%;
}

@media (min-width: 1200px) {
  .lubelskie {
    left: 77%;
  }
}

.podkarpackie {
  top: 80%;
  left: 75%;
}

.swietokrzyskie {
  top: 67%;
  left: 62%;
}

.lodzkie {
  top: 50%;
  left: 47%;
}

@media (min-width: 1200px) {
  .lodzkie {
    left: 50%;
  }
}

.slaskie {
  top: 70%;
  left: 45%;
}

@media (min-width: 1200px) {
  .slaskie {
    left: 47%;
  }
}

.dolnoslaskie {
  top: 60%;
  left: 20%;
}

@media (min-width: 1200px) {
  .dolnoslaskie {
    left: 25%;
  }
}

.opolskie {
  top: 68%;
  left: 32%;
}

@media (min-width: 1200px) {
  .opolskie {
    left: 37%;
  }
}

.malopolskie {
  top: 82%;
  left: 55%;
}

.chart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.chart--active {
  opacity: 1;
}

.chart form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  margin: 10px auto;
}

.chart input {
  display: block;
  margin: 3px auto;
}

.chart__input {
  display: block;
  width: 80%;
  max-width: 400px;
  padding: 2.5px;
  margin: 0 auto;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid black;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.chart__input:focus {
  border: 1px solid #0a0;
  max-width: 500px;
}

@media (min-width: 1024px) {
  .chart__input {
    font-size: 2rem;
    padding: 5px;
  }
}

.chart__input--darkMode {
  background-color: #151515;
  border: 1px solid #444;
  color: #fff;
}

.chart__title {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

.chart__radio {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  text-align: center;
  margin: 5px 10px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .chart__radio {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    font-size: 2rem;
    margin: 5px 15px;
  }
}

.chart__radio--darkMode {
  color: #fff;
}

.chart__span {
  display: block;
  margin: 10px 0px;
}

.container {
  position: relative;
  margin: 20px auto;
  min-height: 400px;
  min-width: 230px;
  margin-bottom: 50px;
}

.canvas {
  width: 240px !important;
  height: 400px !important;
}

@media (min-width: 380px) {
  .canvas {
    width: 300px !important;
  }
}

@media (min-width: 460px) {
  .canvas {
    width: 360px !important;
  }
}

@media (min-width: 640px) {
  .canvas {
    width: 540px !important;
  }
}

@media (min-width: 800px) {
  .canvas {
    width: 680px !important;
    height: 425px !important;
  }
}

@media (min-width: 1024px) {
  .canvas {
    width: 900px !important;
    height: 450px !important;
  }
}

@media (min-width: 1200px) {
  .canvas {
    width: 1100px !important;
  }
}

@media (min-width: 1440px) {
  .canvas {
    width: 1200px !important;
  }
}
/*# sourceMappingURL=style.css.map */