* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.App {
  position: relative;
  max-width: 1375px;
  margin: 0 auto;
  margin-bottom: 42px;
  padding-left: 60px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 7.5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.global {
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.global--active {
  opacity: 1;
}

.global__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75vh;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.global__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 4px 1px #000;
          box-shadow: 0px 0px 4px 1px #000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 1024px) {
  .global__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.global__section--darkMode {
  background-color: #181818;
  -webkit-box-shadow: 0px 0px 4px 1px #555;
          box-shadow: 0px 0px 4px 1px #555;
}

.global__title {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  margin-top: 10px;
  text-align: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.global__title--darkMode {
  color: #fff;
}

@media (min-width: 1024px) {
  .global__title {
    font-size: 2rem;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .global__title {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
}

.global__result {
  margin-top: 10px;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #222;
  text-align: center;
  font-family: 'Krona One', sans-serif;
}

@media (min-width: 460px) {
  .global__result {
    font-size: 3.3rem;
  }
}

@media (min-width: 1024px) {
  .global__result {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .global__result {
    margin-top: 15px;
    font-size: 5rem;
  }
}

.global span {
  display: block;
  margin-top: 10px;
}

.global__span {
  font-size: 2rem;
  color: #000;
}

@media (min-width: 460px) {
  .global__span {
    font-size: 2.3rem;
  }
}

@media (min-width: 1024px) {
  .global__span {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .global__span {
    font-size: 3rem;
  }
}

.global__span--darkMode {
  color: #fff;
}

.global__statsRow {
  margin: 20px 0px;
}

.global__confirmed {
  color: #777;
}

.global__deaths {
  color: #a33;
}

.global__recovered {
  color: #383;
}

.activeGlobal {
  color: #8a8a8a;
}

.critical {
  color: #d33;
}

.todayCases {
  color: #e75e2c;
}

.todayDeaths {
  color: #d33;
}

.tableWrap {
  overflow: scroll;
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.tableWrap--active {
  opacity: 1;
}

@media (min-width: 1024px) {
  .tableWrap {
    overflow: initial;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.table--darkMode {
  background-color: #151515;
}

.table__span {
  display: block;
  margin-top: 10px;
}

.table__input {
  display: block;
  width: 80%;
  max-width: 500px;
  padding: 2.5px;
  margin: 0 auto;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid black;
  margin-bottom: 15px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.table__input:focus {
  border: 1px solid #0a0;
}

@media (min-width: 1024px) {
  .table__input {
    font-size: 2rem;
    padding: 5px;
  }
}

.table__input--darkMode {
  background-color: #151515;
  border: 1px solid #444;
  color: #fff;
}

.thead {
  color: #fff;
  background-color: #111;
}

.thead__tr {
  font-size: 0;
  cursor: pointer;
}

.thead__th {
  border: 1px solid grey;
  font-size: 1.3rem;
  font-family: 'Lexend Peta', sans-serif;
  height: 85px;
  vertical-align: initial !important;
}

@media (min-width: 1024px) {
  .thead__th {
    font-size: 1.4rem;
  }
}

.tbody__tr {
  color: #000;
  border: 1px solid #555;
  cursor: pointer;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.tbody__tr--activeMode {
  background-color: #bbb !important;
  color: #000 !important;
}

.tbody__tr--darkMode {
  color: #ddd;
}

@media (min-width: 1024px) {
  .tbody__tr:hover {
    background-color: #bbb;
    color: black;
  }
}

.wolrdTr th {
  background-color: #bbb;
  height: 8vh;
  padding: 20px;
}

.wolrdTr th:nth-child(3) {
  background-color: #e75e2c;
}

.wolrdTr th:nth-child(5) {
  background-color: #e72e2e;
  color: white;
}

th {
  padding: 10px 5px;
  font-size: 1.6rem;
  border: 1px solid grey;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  min-width: 105px;
  max-width: 105px;
}

@media (min-width: 1024px) {
  th {
    font-size: 1.8rem;
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 25px 5px;
  letter-spacing: 1px;
  font-family: 'Krona One', sans-serif;
  margin-top: 20px;
  font-size: 2.2rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.title--darkMode {
  color: white;
}

@media (min-width: 1024px) {
  .title {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 4rem;
  }
}

.thead__thCountry {
  min-width: 150px;
  max-width: 150px;
}

.deathRate {
  color: #c33;
}

.fas {
  display: block;
  margin: 3px  0px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px 1px #000;
          box-shadow: 0px 0px 4px 1px #000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav--darkMode {
  background-color: #181818;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  list-style: none;
}

.nav__li {
  margin: 0 auto;
}

.nav__img {
  width: 100%;
}

.nav .navLink {
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  border: 1px solid #222;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 1024px) {
  .nav .navLink:hover {
    border: 1px solid #fff;
  }
}

.nav .navLink--darkMode {
  background-color: #fff;
}

.moon {
  width: 40px;
  height: 40px;
  padding: 3px;
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: #fff;
}

@media (min-width: 1024px) {
  .moon:hover {
    -webkit-box-shadow: 0px 0px 2px 75px rgba(0, 0, 0, 0.55);
            box-shadow: 0px 0px 2px 75px rgba(0, 0, 0, 0.55);
  }
}

.moon--darkMode {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media (min-width: 1024px) {
  .moon--darkMode:hover {
    -webkit-box-shadow: 0px 0px 2px 75px rgba(200, 200, 200, 0.35);
            box-shadow: 0px 0px 2px 75px rgba(200, 200, 200, 0.35);
  }
}

.myLogo {
  width: 55px;
}

.active {
  background-color: #bbb !important;
}

.detailsCountry {
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  overflow-x: hidden;
}

.detailsCountry--active {
  opacity: 1;
}

.detailsCountry__span {
  display: block;
  margin-top: 10px;
}

.detailsCountry__form {
  margin: 20px 0px;
}

.detailsCountry__input {
  display: block;
  width: 80%;
  max-width: 500px;
  padding: 2.5px;
  margin: 0 auto;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid black;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.detailsCountry__input:focus {
  border: 1px solid #0a0;
}

@media (min-width: 1024px) {
  .detailsCountry__input {
    font-size: 2rem;
    padding: 5px;
  }
}

.detailsCountry__input--darkMode {
  background-color: #151515;
  border: 1px solid #444;
  color: #fff;
}

.eachCountry {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  max-width: 1024px;
  height: 200px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 4px 1px #000;
          box-shadow: 0px 0px 4px 1px #000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.eachCountry:nth-child(even) {
  text-align: end;
}

@media (min-width: 800px) {
  .eachCountry {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .eachCountry:nth-child(even) {
    text-align: center;
  }
}

.eachCountry--darkMode {
  background-color: #181818;
  -webkit-box-shadow: 0px 0px 4px 1px #555;
          box-shadow: 0px 0px 4px 1px #555;
}

.eachCountry__country {
  font-size: #000;
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-family: 'Krona One', sans-serif;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 800px) {
  .eachCountry__country {
    font-size: 3.5rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    letter-spacing: 2px;
  }
}

.eachCountry__country--darkMode {
  color: #fff;
}

.eachCountry__text {
  font-size: 1.4rem;
  margin: 5px 0px;
  color: #000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

@media (min-width: 800px) {
  .eachCountry__text {
    font-size: 2rem;
  }
}

.eachCountry__text--darkMode {
  color: #fff;
}

.eachCountry__textSpan {
  color: #333;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.eachCountry__textSpan--darkMode {
  color: #ddd;
}

@media (min-width: 800px) {
  .eachCountry__textSpan {
    display: block;
  }
}

.eachCountry__flag {
  width: 45px;
  margin: 10px 0px;
}

.eachCountry__header {
  width: 100%;
}

.eachCountry > h3:nth-child(3) {
  color: #a33;
}

.eachCountry > h3:nth-child(4) {
  color: #383;
}

.eachCountry > h3:nth-child(5) {
  font-size: 20px;
}

@media (min-width: 800px) {
  .eachCountry > h3:nth-child(5) {
    font-size: 1.5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    letter-spacing: 1px;
    font-family: 'Krona One', sans-serif;
  }
}

@media (min-width: 1024px) {
  .eachCountry > h3:nth-child(5) {
    font-size: 2.3rem;
  }
}

.poland, .chart {
  position: relative;
  min-height: 100vh;
}

.temporary {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.poland {
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.poland--active {
  opacity: 1;
}

.chart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.chart--active {
  opacity: 1;
}

.chart__input {
  display: block;
  width: 80%;
  max-width: 500px;
  padding: 2.5px;
  margin: 0 auto;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid black;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.chart__input:focus {
  border: 1px solid #0a0;
}

@media (min-width: 1024px) {
  .chart__input {
    font-size: 2rem;
    padding: 5px;
  }
}

.chart__input--darkMode {
  background-color: #151515;
  border: 1px solid #444;
  color: #fff;
}

.chart__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.chart__radio {
  text-align: center;
  margin: 5px 10px;
  font-size: 15px;
}

.chart__radio--darkMode {
  color: #fff;
}

.chart__radio input {
  margin-right: 5px;
}

.chart form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  max-width: 150px;
  margin: 10px auto;
}

.container {
  position: relative;
  margin: 20px auto;
  min-height: 400px;
  min-width: 230px;
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */